<footer class="pt-16 text-white">
  <ul class="flex justify-center">
    <li class="hover:text-zinc-200 px-4">
      <a href='https://devanil.com'><i class="fas fa-blog"></i> Blog</a>
    </li>
    <li class="hover:text-zinc-200 px-4">
      <a href='https://github.com/devaniljr'><i class="fab fa-github-square"></i> GitHub</a>
    </li>
    <li class="hover:text-zinc-200 px-4">
      <a href='https://www.linkedin.com/in/devaniljr/'><i class="fab fa-linkedin"></i> LinkedIn</a>
    </li>
  </ul>
  <p class="text-center">
    © <%= Time.zone.now.year %> <%= link_to 'devanil.dev', 'https://devanil.dev', class:"hover:text-zinc-200 hover:underline" %> - Proudly built with Ruby on Rails.
  </p>
</footer>